AI-Powered Instagram Reel Advertising Generator (9).json
{
  "name": "AI-Powered Instagram Reel Advertising Generator",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "576a75d1-909a-4e1b-82d3-3e5348350d00",
              "name": "murfApiKey",
              "value": "ap2_4d8e35fb-8d68-42b5-8029-9a1c1967a73b",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c8b30127-dc26-4202-9640-cc2ac272bdf5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        2144
      ]
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/videos/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "=1"
            },
            {
              "name": "orientation",
              "value": "portrait"
            },
            {
              "name": "query",
              "value": "={{ $json.scenes.visual_asset.prompt.split(' ').slice(0, 5).join(' ') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=SyNwdCWFhB2Zw7CcRAb65HTaMgjVbXfpDO6eDEw6ay6mzyg6I96cszWR"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "videoData"
            }
          }
        }
      },
      "id": "64f5edef-ee7c-4b0d-ad7e-535f3816926e",
      "name": "Fetch Pexels Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        1936
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.0-generate-001",
          "mode": "list",
          "cachedResultName": "models/veo-3.0-generate-001"
        },
        "prompt": "={{ $json.scenes.visual_asset.prompt }}",
        "options": {}
      },
      "id": "e6d0f7ca-176a-4450-a5f3-c08c5ac55c95",
      "name": "Generate Video Clips",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2864,
        2128
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "7GKeKHYJAd8fYEts",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert Short-Form Video Production Planner and Scripting Engine. Your task is to analyze the user's content request and **GENERATE THE COMPLETE, FULLY POPULATED REEL SCRIPT DATA** segmented into dynamic, non-monolithic scenes.\n\n---\n\n### Strict Guidelines:\n1.  **Output Constraint:** The **ENTIRE** response MUST be a single, valid JSON object that adheres exactly to the schema provided below. **DO NOT include any markdown fences (```json, ```), introductory text, explanatory notes, or schema definitions.**\n2.  **Contextual Alignment:** Analyze the user's intent (e.g., advertising, educational, comedy) and tailor ALL fields (narration style, visual prompts, audio prompts) to match that context.\n3.  **Timing & Duration:** The total script duration MUST be between 15 and 60 seconds. For **EACH** scene, you **MUST** provide a precise `duration` (floating-point number in seconds).\n4.  **Scene Structure:** The script must contain multiple scenes that switch between asset sources (PEXELS, VGM) and asset types (IMAGE, VIDEO).\n5.  **Timestamps:** Set the `start_time` for the **FIRST** scene to `0.0`. Do not include `start_time` for any other scene.\n\"CRITICAL: You MUST generate content for a minimum of 3 scenes to successfully execute the automation workflow. Do not return an empty 'scenes' array.\"\n---\n**BEGIN SCRIPT GENERATION**\n\n**YOU MUST ONLY OUTPUT THE DATA CONFORMING TO THIS STRUCTURE:**\n\n{\n  \"inferred_content_type\": \"The model's assessment of the user's goal (e.g., 'Educational Short', 'Direct-Response Ad').\",\n  \"title\": \"A short, catchy, context-appropriate title for the reel.\",\n  \"total_duration\": \"The estimated total length of the reel in seconds (sum of all scene durations).\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"start_time\": \"0.0\", \n      \"duration\": \"5.5\", \n      \"narration\": {\n        \"text\": \"The exact script text for the TTS engine.\",\n        \"style\": \"Murf voice ID (e.g., en-US-natalie) that matches the required tone.\"\n      },\n      \"visual_asset\": {\n        \"source\": \"PEXELS/VGM\",\n        \"type\": \"IMAGE/VIDEO\",\n        \"prompt\": \"Highly descriptive prompt for Pexels or VGM.\"\n      },\n      \"audio_track\": {\n        \"bg_music_prompt\": \"Prompt to find suitable background music.\",\n        \"sound_fx_prompt\": \"Sound effects required at this time stamp.\"\n      }\n    }\n    // ... continue with as many scenes as needed\n  ]\n}",
              "role": "model"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        2144
      ],
      "id": "db91e523-18ff-4139-8aa0-ddfd0ac93d22",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "hMkkhxXJWhZ94Yhl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3267946-e806-44a1-80fb-deada493d6ba",
                    "leftValue": "={{ $json.scenes.visual_asset.source }}",
                    "rightValue": "PEXELS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "acb8d5d4-a6b8-4979-8712-5ef2e5c41b54",
                    "leftValue": "={{ $json.scenes.visual_asset.source }}",
                    "rightValue": "VGM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2640,
        1984
      ],
      "id": "ed012659-81fb-42f1-9140-bc47899a44fb",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3088,
        2112
      ],
      "id": "8c85e8a8-53b2-4bd4-8306-32f18ddbd367",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the single input item\nconst inputItem = $input.all()[0]; \nconst rawText = inputItem.json.content.parts[0].text; // Accessing the text field\n\n// 2. Clean the markdown fences: ***This is the crucial step***\nlet cleanedJsonString = rawText.replace(/```json|```/g, '').trim();\n\n// 3. Parse and return\nconst parsedData = JSON.parse(cleanedJsonString);\nreturn [parsedData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        2144
      ],
      "id": "64e502df-b6a5-4dbc-8356-f6374bf598ec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes, scenes[0].visual_asset",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2416,
        2144
      ],
      "id": "eb2ff15e-9905-4580-935e-892d879581ca",
      "name": "Split Out",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// === n8n Code Node - Extract scenes for Split Out ===\n\nconst input = items[0].json;\n\n// Handle both array and single object\nlet video = Array.isArray(input) ? input[0] : input;\n\nif (!video || !video.scenes || !Array.isArray(video.scenes)) {\n  throw new Error(\"No valid 'scenes' array found in input\");\n}\n\n// Return 1 item with 'scenes' as array of objects\nreturn [\n  {\n    json: {\n      scenes: video.scenes.map((scene, index) => ({\n        ...scene,\n        _parent: {\n          title: video.title,\n          content_type: video.inferred_content_type,\n          total_duration: video.total_duration\n        },\n        _index: index + 1,\n        _total_scenes: video.scenes.length\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        2144
      ],
      "id": "6d9943cd-7318-4c49-bd9c-dbad47b8bbf7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// === FLATTEN SCENE FOR TTS ===\nreturn items.map(item => {\n  const scene = item.json.scenes;\n  if (!scene) return { json: {} };\n\n  return {\n    json: {\n      text: scene.narration.text,\n      style: scene.narration.style,\n      duration: scene.duration,\n      _index: scene._index,\n      _parent: scene._parent\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        2336
      ],
      "id": "74371baf-f232-4c58-9852-4588fe37a7b5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3088,
        2336
      ],
      "id": "20065d16-555b-4888-bbcf-6e08f4a22e47",
      "name": "Wait",
      "webhookId": "918c6fd3-50f3-4190-b4a7-df347ad5630a"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "5f91955a-847c-4238-a278-934c7b7ddffd",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2864,
        2336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "=ap2_4d8e35fb-8d68-42b5-8029-9a1c1967a73b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"voice_id\": \"{{$json.murfVoiceId}}\",\n  \"text\": \"{{$json.text}}\",\n  \"style\": \"{{$json.style}}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audioData"
            }
          }
        }
      },
      "id": "a7ff896f-116f-4ec8-a3df-01b415ee6438",
      "name": "Murf Gen 2 TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3536,
        2448
      ]
    },
    {
      "parameters": {
        "jsCode": "// === GET MURF VOICE FROM narration.style ===\nreturn items.map(item => {\n  const voiceId = item.json.narration?.style || \"en-US-natalie\";\n\n  return {\n    json: {\n      ...item.json,\n      murfVoiceId: voiceId,\n      murfText: item.json.narration?.text\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        2336
      ],
      "id": "df647800-9a1f-4a17-82f7-f222e2e9b950",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1168,
        2144
      ],
      "id": "03ee0e81-1391-4652-8d95-9260eda2a1b4",
      "name": "When chat message received",
      "webhookId": "eebea800-620c-4a6b-8338-3999733ac661"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet cumulativeTime = 0.0;\nconst videoClips = [];\nconst audioClips = [];\nconst targetResolution = '1080p'; // Target output resolution\nconst aspectRatio = '9:16'; // Vertical video format\n\n// Loop through all fully merged scene items\nfor (const item of items) {\n    // Access the core metadata fields\n    const duration = parseFloat(item.json.duration);\n    \n    // CRITICAL: Access the file paths using the keys you found during debugging\n    // videoSource uses the n8n filesystem ID for the Pexels/VGM file.\n    const videoSource = item.json.id; \n    // audioSource uses the key where your TTS node stored the file path.\n    // Assuming the key is 'audioFileId' or similar. ***Verify this key name!***\n    const audioSource = item.json.audioFileId; \n\n    // --- 1. Build Video Clip ---\n    if (videoSource) {\n        videoClips.push({\n            \"asset\": {\n                \"type\": \"video\",\n                \"src\": videoSource, \n                \"trim\": 0.0 // Start at the beginning of the source file\n            },\n            \"start\": cumulativeTime,\n            \"length\": duration,\n            \"fit\": \"cover\", // Ensure the video covers the 9:16 frame\n            \"position\": \"center\"\n        });\n    }\n\n    // --- 2. Build Audio Clip (TTS) ---\n    if (audioSource) {\n        audioClips.push({\n            \"asset\": {\n                \"type\": \"audio\",\n                \"src\": audioSource\n            },\n            \"start\": cumulativeTime,\n            \"length\": duration\n        });\n    }\n    \n    // Increment the time for the next scene\n    cumulativeTime += duration;\n}\n\n// --- 3. Assemble Final Edit JSON ---\nconst shotstackEdit = {\n    \"timeline\": {\n        \"tracks\": [\n            { \"clips\": videoClips }, // Track 1: Videos (Visuals)\n            { \"clips\": audioClips }  // Track 2: Audio (TTS/Sound)\n        ]\n    },\n    \"output\": {\n        \"format\": \"mp4\",\n        \"resolution\": targetResolution, \n        \"aspectRatio\": aspectRatio\n    }\n};\n\n// Return the final Edit JSON object\nreturn [{ json: shotstackEdit }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        2128
      ],
      "id": "24fc7303-7488-4444-9314-241f264cfb6e",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/v1/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "uyyAHF6myX2cjGm8BiHC7bBqIkxpSnEDIQBcOyOu"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3760,
        2128
      ],
      "id": "38e5b970-e505-414e-9f9c-734dc7dac8a8",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9cV2OqUcG9m6dCEP",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/v1/render/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "uyyAHF6myX2cjGm8BiHC7bBqIkxpSnEDIQBcOyOu"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4208,
        2128
      ],
      "id": "e2dd5e2f-0e21-4388-a06a-7066a1c889d7",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9cV2OqUcG9m6dCEP",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3536,
        2128
      ],
      "id": "b68ae372-8fd2-4303-bb93-348ba3b4aa71",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3XlIe5oRpFQlXqO8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3984,
        2128
      ],
      "id": "0e18820a-1cf4-4c42-be63-c10685ee49d0",
      "name": "Wait1",
      "webhookId": "37f61aa1-c405-4b0e-9c9c-fe498b6bdbaa"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4432,
        2128
      ],
      "id": "e7d24fcc-8953-46cc-a53d-f651b27ce64b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3XlIe5oRpFQlXqO8",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Merge1": [
      {
        "json": {
          "scenes": {
            "scene_number": 1,
            "start_time": "0.0",
            "duration": 4,
            "narration": {
              "text": "Feeling overwhelmed by your to-do list and can't get started?",
              "style": "en-US-natalie"
            },
            "visual_asset": {
              "source": "PEXELS",
              "type": "VIDEO",
              "prompt": "Over-the-shoulder shot of a person looking stressed at a messy desk with a long to-do list on a notepad. Soft focus, morning light."
            },
            "audio_track": {
              "bg_music_prompt": "Gentle, thoughtful, slightly melancholic piano music.",
              "sound_fx_prompt": "Subtle paper rustling, a soft sigh."
            },
            "_parent": {
              "title": "Beat Procrastination with the 2-Minute Rule",
              "content_type": "Educational Short",
              "total_duration": 19.5
            },
            "_index": 1,
            "_total_scenes": 4
          },
          "scenes[0].visual_asset": "PEXELS",
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileExtension": "mp4",
          "fileName": "video.mp4",
          "id": "filesystem-v2:workflows/RidaFG2qjEVIzHb9/executions/300/binary_data/447becaa-7955-4540-bb9f-dae616803728",
          "fileSize": "851 kB",
          "text": "Feeling overwhelmed by your to-do list and can't get started?",
          "style": "en-US-natalie",
          "duration": 4,
          "_index": 1,
          "_parent": {
            "title": "Beat Procrastination with the 2-Minute Rule",
            "content_type": "Educational Short",
            "total_duration": 19.5
          },
          "murfVoiceId": "en-US-natalie"
        },
        "binary": {
          "videoData": {
            "mimeType": "application/json",
            "fileType": "json",
            "fileExtension": "json",
            "data": "filesystem-v2",
            "id": "filesystem-v2:workflows/RidaFG2qjEVIzHb9/executions/300/binary_data/4adb497e-a803-446a-97ff-87a3d08fa8b1",
            "fileSize": "2.64 kB",
            "fileName": "videoData.json"
          },
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "fileName": "video.mp4",
            "id": "filesystem-v2:workflows/RidaFG2qjEVIzHb9/executions/300/binary_data/447becaa-7955-4540-bb9f-dae616803728",
            "fileSize": "851 kB"
          },
          "audioData": {
            "mimeType": "application/json",
            "fileType": "json",
            "fileExtension": "json",
            "data": "filesystem-v2",
            "directory": "v1/speech",
            "fileName": "generate",
            "id": "filesystem-v2:workflows/RidaFG2qjEVIzHb9/executions/300/binary_data/3834b376-0a7d-4948-bccc-f689fc6a520f",
            "fileSize": "2.02 kB"
          }
        }
      }
    ]
  },
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pexels Video": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Clips": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Fetch Pexels Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Video Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Murf Gen 2 TTS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Murf Gen 2 TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e65b65b5-6c22-4ec9-93a0-c027b009e758",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bea20e3a8faa2fff33eccdc9a3f04228fdb35dc5e3344fbdae110ee9b3619fd"
  },
  "id": "RidaFG2qjEVIzHb9",
  "tags": []
}